.postContainer {
    grid-template-areas:
        "title title title title title title"
        "user user user user timestamp timestamp"
        "body body body body body body"
        "comments comments comments comments comments comments";
    padding: 22px;
    padding-top: 6px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
}
.postTitle {
    grid-area: title;
    font-weight: bold;
    font-size: 24pt;
}
.postTimestamp {
    grid-area: timestamp;
    color: gray;
    font-size:18pt;
}
.postUser {
    grid-area: user;
    font-size:20pt;
}
.postBody {
    grid-area: body;
    font-size: 16pt;
}
.postComments {
    grid-area: comments;
}

body {
    background-color: rgba(246, 248, 253, 255);
}
