{% extends '_layout.html' %}

{% block title %}Horror Forum About Page{% endblock %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block body %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Welcome to the Paranormal Investigation Board</h1>
    </div>
    <p class="lead">The ultimate destination for exploring the unknown. In a world brimming with mysteries and unexplained phenomena, our platform offers a place of serious discussion for those intrigued by the paranormal, as well as the skeptics seeking truth.</p>
    
    <h2>Our Mission</h2>
    <p>We believe in fostering a community where every voice is heard and every story is valued. Our mission is to create a space that not only encourages the sharing and examination of paranormal encounters but also cultivates an environment of respect, curiosity, and open-minded debate.</p>
    
    <h2>What Sets Us Apart</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cutting-edge User Interface: Dive into discussions with ease, thanks to our modern, user-friendly design that makes navigation a breeze.</li>
        <li class="list-group-item">Dynamic Community: Engage with a vibrant community of enthusiasts and skeptics alike. Whether you're here to share your own experiences or to explore the mysteries of the paranormal, you'll find yourself among friends.</li>
        <li class="list-group-item">Quality Content: Discover high-quality posts, insightful analyses, and thoughtful debates. Our unique rating system ensures that the most compelling content rises to the top.</li>
        <li class="list-group-item">Voting: Our innovative voting feature allows you to gauge the credibility of encounters, providing clear and understandable feedback for contributors and browsers alike.</li>
    
    <p class="mt-4">Whether you've experienced something beyond explanation or you're simply curious about the world of paranormal activity, the Paranormal Investigation Board is your go-to resource. Explore, discuss, and perhaps even solve the mysteries that have long captivated humanity.</p>
    
    <p>Join us on this fascinating journey. Together, let's unveil the truth hidden in the shadows.</p>
</div>
{% endblock %}