{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
    <script src="static/scripts/loadPosts.js" defer></script>
    <script src="static/scripts/modal.js"></script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forum.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h6 style="color:green" class="text-center">Forum Discussion</h6>
    <h1 class="mb-4 text-center">Horror/Paranormal Sightings</h1>

    <!-- Search bar (does nothing rn)
    <div class="mb-3 form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Search by Discussion Title" aria-label="Search" />
    </div>-->
    <form action="{{ url_for('search_results') }}" method="get" class="search-form">
        <input type="search" name="search_query" id="form1" class="form-control" placeholder="Search by Discussion Title" required>
        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </form>    
    

    <!-- Button to trigger modal -->
    <button type="button" class="btn btn-primary" onclick="openModal()">
        Create New Post
    </button>

    <!-- Modal -->
    <div id="createPostModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <!-- Form to create a new post -->
            <form action="/forum/makepost" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="postContent">Image URL</label>
                    <textarea class="form-control" id="imageURL" name="imageURL" rows="1" placeholder="Enter URL for externally-hosted image"></textarea>
                </div>
                <div class="form-group">
                    <label for="postContent">Content</label>
                    <textarea class="form-control" id="postContent" name="postContent" rows="3" placeholder="Enter content"></textarea>
                </div>
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <br><br>
    <div id="postsContainer">
        <p id="loadingWidget">Loading posts...</p>
    </div>
    
    <nav aria-label="Forum page navigation">
        <ul class="pagination justify-content-center">
            {% for page_num in pagination_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('forum_page', page=page_num) }}">{{ page_num }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
