{% extends '_layout.html' %}

{% block title %}Forum Discussion | MySite{% endblock %}

{% block body %}
<div class="container mt-4">
  <h6 style="color:green" class="text-center">Forum Discussion</h3>
  <h1 class="mb-4 text-center">Horror/Paranormal Sightings</h1>

  <div class="mb-3 form-outline" data-mdb-input-init>
    <input type="search" id="form1" class="form-control" placeholder="Search by Discussion Title" aria-label="Search" />
  </div>

  <div class="list-group">
    
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Is this a confirmed paranormal site?</h5>
        <small>2 hours ago</small>
      </div>
      <p class="mb-1">Generic User</p>
      <small>9 comments</small>
    </a>
    
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">I was contacted by my great-grandmother in the afterlife</h5>
        <small>5 hours ago</small>
      </div>
      <p class="mb-1">Generic User</p>
      <small>23 comments</small>
    </a>
    
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Are ghosts real?</h5>
        <small>9 hours ago</small>
      </div>
      <p class="mb-1">Generic User</p>
      <small>42 comments</small>
    </a>
    
  </div>

  <nav aria-label="Forum page navigation">
    <ul class="pagination justify-content-left">
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
  
</div>
{% endblock %}
