{% extends '_layout.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block scripts %}
<script>
    var userID = "{{ user.user_id }}";
</script>
<script src="/static/scripts/user.js" defer></script>

{% if owner %}
<script src="/static/scripts/addDeleteUserButton.js" defer></script>
{% endif %}

{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forum.css') }}">
{% endblock %}

{% block body %}
<div class="profile-wrapper">
    <div class="profile-container">
        <div class="profile-header">
            <img src="/static/images/avatar2.png" alt="User Profile Picture" class="profile-picture"> <!-- Assuming we will enable users to upload custom profile pictures, need to jinja later -->
            <div class="username">{{ user.username }}</div>
        </div>
        <div class="content-buttons">
            <p id="currentlyDisplaying">Showing posts by this user...</p>
            <button id="commentPostsButton" onclick="toggleCommentsPosts()">Show Comments</button>
            {%if owner%}
                <button class="deleteButton" onclick="deleteUser()">Delete user</button>
            {%endif%}
        </div>
        <div id="deleteButtonContainer"></div>
        <div id="loadingWidget"><p>Loading...</p></div>
        <!-- Add functionality to load posts and comments based on button press. -->
        <div id="postsContainer" onload="populateProfilePosts"></div>
        <div id="commentsContainer" style="display:none"></div>
    </div>
</div>
{% endblock %}
