{% extends '_layout.html' %}

{% block title %}Horror Forum Voting Page{% endblock %}

{% block stylesheet %}
<style src="/static/css/main.css"></style>
{% endblock stylesheet %}
{% block body %}
<nav>
    <span class="backwards"><a href="/vote/previous">← Previous Week's Poll</a></span>
    <span class="forwards"><a href="/vote/next">Preview Next Week's Poll →</a></span>
</nav>
<div class="container">
    <h1>Cast your Votes!</h1>
    <h2>Is the Battleship in Wilmington, North Carolina really haunted?</h2>
    <div class="voting-image">
        <img src="static\images\voting_page_image1.jpg" alt="Battleship" style="max-width: 100%; height: auto;">
    </div>
    <form action="/vote" method="post" class="vote-buttons">
        <button type="submit" name="option" value="yes">Yes</button>
        <button type="submit" name="option" value="no">No</button>
    </form>
    <div class="result-bar">
        <div class="bar-fill yes-fill" style="width: {{ (votes['yes'] / (votes['yes'] + votes['no']) if votes['yes'] + votes['no'] > 0 else 0) * 100 }}%;"></div>
        <div class="bar-fill no-fill" style="width: {{ (votes['no'] / (votes['yes'] + votes['no']) if votes['yes'] + votes['no'] > 0 else 0) * 100 }}%;"></div>
    </div>
    <div class="result-text">
        <span>{{ votes['yes'] }} number of users say it is haunted</span>
        <span>{{ votes['no'] }} number of users say it is not haunted</span>
    </div>
</div>
<br><br><br>
{% endblock %}
