{% extends '_layout.html' %}

{% block title %}Horror Forum Voting Page{% endblock %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block body %}

<nav>
    <button><a href="/">Home</a></button>
    <button><a href="/voting">Voting</a></button>
    <button><a href="/about">About Us</a></button>
</nav>

<nav>
    <ul class="backwards"><a href="/voting/previous">← Previous Week's Poll</a></li>
    <ul class="forwards"><a href="/voting/next">Preview Next Week's Poll →</a></li>
</nav>
<h1 style="color:green">Cast your Votes!</h1>
<h2>Is the Battleship in Wilmington, North Carolina really haunted?</h2>
<div class="voting-image">
    <img src="voting_page_image1.jpg" alt="Battleship" style="width: 1000px; height: 1000px; display: block; margin-left: auto; margin-right: auto">
</div>

<button style="color:green; float:left">Yes</button>
<button style="color:red; float:right">No</button>
<br>
<body style="text-align:left">__% of users say it is haunted</body>
<body style="text-align:right">__% of users say it is not haunted</body>


{% endblock %}